.wrapper-movieinfobox {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 500px;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfoBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movieinfobox-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  position: relative;
  margin-top: -150px;
}

.movieinfobox-poster {
  width: 30%;
  height: 100%;
  overflow: hidden;
  left: 0px;
  display: inline-block;
}

.movieinfobox-text {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 70%;
  padding: 40px;
  margin-top: 150px;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.movieinfobox-text h1 {
  font-family: "Abel", sans-serif;
  font-size: 48px;
  margin: 0;
}

.movieinfobox-text p {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (max-width: 720px) {
  .wrapper-movieinfobox {
    height: 220px;
  }

  .movieinfobox-content {
    background: 0;
    color: white;
    height: auto;
    padding: 10px;
    margin-top: -75px;
  }

  .movieinfobox-poster {
    width: 40%;
  }

  .movieinfobox-text {
    width: 60%;
    margin-top: 60px;
    padding: 15px;
  }

  .movieinfobox-text h1 {
    font-size: 17px;
  }

  .movieinfobox-text p {
    font-size: 12px;
    line-height: 17px;
    margin: 2px;
  }

  .movie-overview {
    margin: 5px 10px;
  }

  .movie-overview p {
    font-size: 12px;
    line-height: 17px;
    text-indent: 20px;
  }

  .movie-overview h6 {
    font-size: 14px;
  }
}
