.wrapper-movieinfobox {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 400px;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfoBox 5s ease;
}

@keyframes animateMovieinfoBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movieinfobox-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-top: -150px;
}

.movieinfobox-poster {
  width: 30%;
  padding: 0 auto;
  overflow: hidden;
  display: inline-block;
}

.movieinfobox-poster img {
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.movieinfobox-text {
  width: 70%;
  padding: 40px;
  margin-top: 150px;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.movieinfobox-text a {
  color: white;
}

.movieinfobox-text h1 {
  font-size: 45px;
  margin: 0;
}

.span-star {
  font-size: 32px;
}

.movieinfobox-text p,
.movie-overview p {
  font-size: 18px;
  line-height: 26px;
}

.movie-overview {
  color: white;
  width: 90%;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;
}

.movie-overview p {
  text-indent: 2em;
}

.movie-overview h6 {
  font-size: 25px;
}

/* laptop retina screens(13 and 15 macbooks) */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .wrapper-movieinfobox {
    height: 260px;
  }

  .movieinfobox-content {
    margin-top: -110px;
  }

  .movieinfobox-text {
    margin-top: 95px;
  }

  .movieinfobox-poster {
    overflow: hidden;
    display: inline-block;
    text-align: right;
  }

  .movieinfobox-poster img {
    width: 250px;
    height: auto;
    box-sizing: border-box;
  }

  .movieinfobox-text h1 {
    font-size: 27px;
    margin: 0;
  }

  .span-star {
    font-size: 22px;
  }

  .movieinfobox-text p,
  .movie-overview p {
    font-size: 15px;
    line-height: 13px;
  }

  .movie-overview {
    color: white;
    padding: 0px 100px 10px 100px;
  }

  .movie-overview p {
    text-indent: 2em;
    line-height: 25px;
  }

  .movie-overview h6 {
    font-size: 19px;
  }
}

/* iPad in portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper-movieinfobox {
    height: 250px;
  }

  .movieinfobox-content {
    background: 0;
    color: white;
    height: auto;
    padding: 10px;
    margin-top: -75px;
  }

  .movieinfobox-poster {
    width: 40%;
    text-align: right;
  }

  .movieinfobox-poster img {
    width: 220px;
    height: auto;
    box-sizing: border-box;
  }

  .movieinfobox-text {
    width: 60%;
    margin-top: 60px;
    padding: 15px;
  }

  .movieinfobox-text h1 {
    font-size: 25px;
  }

  .span-star {
    font-size: 20px;
  }

  .movieinfobox-text p,
  .movie-overview p {
    font-size: 14px;
    line-height: 23px;
    margin: 2px;
  }

  .movie-overview {
    padding: 5px 10px;
    width: 90%;
  }

  .movie-overview p {
    text-indent: 25px;
  }

  .movie-overview h6 {
    font-size: 19px;
  }
}

/* FOR MOBILE PHONES (IPHONE 6 Plus/7 Plus/8 Plus/X/X max) and IPHONE 6/7/8 for (min-device-width: 375px) and (max-device-width: 812px) */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3),
  (min-device-width: 320px) and (max-device-width: 568px) {
  .wrapper-movieinfobox {
    height: 220px;
  }

  .movieinfobox-content {
    background: 0;
    color: white;
    height: auto;
    padding: 10px;
    margin-top: -75px;
  }

  .movieinfobox-poster {
    width: 40%;
  }

  .movieinfobox-text {
    width: 60%;
    margin-top: 60px;
    padding: 12px;
  }

  .movieinfobox-text h1 {
    font-size: 17px;
  }

  .movieinfobox-text p,
  .movie-overview p {
    font-size: 12px;
    line-height: 17px;
    margin: 2px;
  }

  .movie-overview {
    padding: 0px 10px 5px 10px;
    width: 100%;
  }

  .movie-overview p {
    text-indent: 20px;
  }

  .movie-overview h6 {
    font-size: 14px;
  }
}

/* iPhone X in landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* FIX IPAD/IPAD PRO RESOLUTIONS TOO */

.movieinfobox2-content {
  padding: 50px 0;
  display: flex;
  width: 100%;
  color: white;
}

.movieinfobox2-poster {
  flex: 0 0 25%;
}

.movieinfobox2-poster img {
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid rgb(54, 38, 38);
  box-shadow: 5px 5px 10px rgba(95, 91, 91, 0.04);
}

.movieinfobox2-text {
  flex: 0 0 75%;
  padding-left: 40px;
}

.movieinfobox2-text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieinfobox2-text-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px;
}

.movieinfobox2-text-star {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  flex: 0 0 9%;
  text-align: right;
}

.span-star {
  font-size: 18px;
  margin-left: 5px;
  color: gold;
}

.span-clock {
  font-size: 13px;
}

.movieinfobox2-text-genre {
  font-weight: 500;
  color: rgb(221, 213, 213);
  font-size: 16px;
  margin-bottom: 0px;
}

.movieinfobox2-text-country {
  font-weight: 500;
  color: rgb(221, 213, 213);
  font-size: 16px;
  margin-bottom: 0px;
}

.movieinfobox2-text-overview {
  font-size: 16px;
  /* line-height: 1.6; */
  color: rgb(196, 167, 167);
  margin-top: 20px;
  margin-bottom: 10px;
}

.movieinfobox2-text-director {
  font-weight: 500;
  color: rgb(221, 213, 213);
  font-size: 16px;
  margin-bottom: 4px;
}

.button-trailer {
  padding: 10px 30px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: rgb(243, 70, 70);
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}
