.wrapper-heroimage {
  background-size: 100%, cover !important;
  background-position: center, top !important;
  width: 100%;
  height: 500px;
  /* position: relative; */
  animation: animateHeroimage 3s ease;
}

/* .wrapper-heroimage:hover {
  opacity: 0.8;
  transition: 0.7s ease;
} */

@keyframes animateHeroimage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper-heroimage-content {
  /* max-width: 1280px; */
  /* padding: 20px; */
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.wrapper-heroimage-text {
  z-index: 100;
  max-width: 700px;
  position: absolute;
  left: 15px;
  bottom: 40px;
  min-height: 100px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

.wrapper-heroimage-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #fff;
  line-height: 1.3;
}

.wrapper-heroimage-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.wrapper-heroimage-text span {
  font-size: 25px;
  padding: 5px 0px;
}

/* laptop retina screens(13 and 15 macbooks) */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .wrapper-heroimage-content {
    padding-left: 50px;
  }

  .wrapper-heroimage {
    height: 350px;
  }

  .wrapper-heroimage-text {
    max-width: 600px;
    bottom: 20px;
  }

  .wrapper-heroimage-text h1 {
    font-size: 30px;
  }

  .wrapper-heroimage-text p {
    font-size: 15px;
    line-height: 1.5;
  }

  .wrapper-heroimage-text span {
    font-size: 22px;
    padding: 5px 0px;
  }
}

/* iPad in portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper-heroimage {
    height: 350px;
  }

  .wrapper-heroimage-text h1 {
    font-size: 24px;
  }

  .wrapper-heroimage-text p {
    font-size: 15px;
    line-height: 1.5;
  }

  .wrapper-heroimage-text span {
    font-size: 16px;
    padding: 5px 0px;
  }
}

/* FOR MOBILE PHONES (IPHONE 6 Plus/7 Plus/8 Plus/X/X max) and IPHONE 6/7/8 for (min-device-width: 375px) and (max-device-width: 812px) */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3),
  (min-device-width: 320px) and (max-device-width: 568px) {
  .wrapper-heroimage {
    height: 300px;
  }

  .wrapper-heroimage-text {
    max-width: 100%;
    bottom: 20px;
    padding-right: 20px;
  }

  .wrapper-heroimage-text h1 {
    font-size: 19px;
  }

  .wrapper-heroimage-text p {
    font-size: 11px;
    line-height: 15px;
  }

  .wrapper-heroimage-text span {
    font-size: 13px;
    padding: 5px 0px;
  }
}
