.wrapper-movies {
  /* max-width: 1600px; */
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background: #121620;
}

.movies-header {
  padding-top: 15px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.movies-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movies-grid-spacer {
  flex: 0 0 15.5%;
}

.movies-grid-box {
  flex: 0 0 15.5%;
  margin-bottom: 13px;
}

.carddimension {
  width: 100%;
  position: relative;
  animation: animateMovieCards 4s ease;
}

.carddimension:hover .movieInfoHover {
  opacity: 1;
}

.carddimension img {
  width: 100%;
  border-radius: 7px;
  border: 1px solid rgb(41, 34, 34);
  box-shadow: 5px 5px 10px rgba(95, 91, 91, 0.1);
}

.movieInfoHover {
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  background: rgba(42, 42, 43, 0.9);

  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease;
}

.movieInfoHover-title {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

.movieInfoHover-average {
  color: gold;
  font-size: 16px;
  position: absolute;
  right: 10px;
}

@keyframes animateMovieCards {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* laptop retina screens(13 and 15 macbooks) */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .movies-header h2 {
    font-size: 22px;
  }
}

/* iPad in portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .movies-header h2 {
    font-size: 22px;
  }

  .movies-grid-box {
    flex: 0 0 24%;
  }
}

/* FOR MOBILE PHONES (IPHONE 6 Plus/7 Plus/8 Plus/X/X max) and IPHONE 6/7/8 for (min-device-width: 375px) and (max-device-width: 812px) */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3),
  (min-device-width: 320px) and (max-device-width: 568px) {
  .wrapper-movies {
    padding-top: 5px;
  }

  .movies-header h2 {
    font-size: 18px;
  }

  .movies-grid-box {
    flex: 0 0 48%;
  }
}
