.header-similarMovies {
  color: white;
  padding-top: 20px;
}

.movie-title-text,
.movie-rating-text {
  display: inline-block;
  vertical-align: top;
}

.movie-title-text {
  width: 85%;
}

.movie-rating-text {
  text-align: right;
  width: 15%;
}

.card-info-text {
  color: white;
  padding: 2px;
}

.carddimension:hover {
  opacity: 0.5;
  transition: 0.7s ease;
}

@media screen and (max-width: 720px) {
  .header-similarMovies h2 {
    font-size: 22px;
  }

  .card-info-text h5 {
    font-size: 14px;
  }
}
